body{

    background-color: rgb(161, 161, 161);
    display:flex;
    justify-content:center;
    align-item:center;
    height:100vh;

}
#display{
    border:none;
    width:100%;
    padding:20px;
    font-size:5rem;
    text-align:left;
    background-color:rgb(89, 86, 86);
    color:white;
}

.calculator{
    max-width:500px;
    background-color:rgb(0,0,0);
    border-radius:50px;
    overflow:hidden;
    font-family:Arial,sans-serif;
}

.keys{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    padding:25px;
    gap:10px;
}

button{
    width : 100px;
    height: 100px;
    border-radius:50px;
    border:none;
    background-color:rgb(61, 59, 59);
    color:white;
    font-size:3rem;
    font-weight:bold;
    cursor:pointer;
}

button:active{
    background-color: rgb(111, 106, 106)
}
